html,
body {
  margin: 0;
  height: 100%;
  width: 100%;
}

.detail {
  font-family: "Nanum Gothic", sans-serif;
  font-size: 1em;
  font-weight: bold;

  display: flex;
  flex-direction: column;

  height: 100%;
  width: 100%;
}

main {
  flex: 1;
  height: 80%;
  width: 100%;
}

.detail-main {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}
.detail-img {
  height: 200px;
  width: 100%;
  transition: 0.3s;
}

.detail-img > img:first-child {
  height: 100%;
  width: 100%;
  object-fit: cover;
  transition: 0.3s;
}

.detail-modal {
  display: none;
  position: fixed;
  padding-top: 100px;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.9);
}

.modal-img {
  margin: auto;
  display: block;
  width: 100%;
  height: 50%;

  animation-name: zoom;
  animation-duration: 0.5s;
}

@keyframes zoom {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}

.icon-close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.2s;
}

.detail-top{
    display: flex;
}
.detail-category {
    font-size: 0.3em;
    color: #fff;
    background-color: #F2B8B8;
    padding: 3px 8px;
    box-sizing: border-box;
    border-radius: 5px;
    margin-right: 5px;
}
.detail-heading-title {
  font-size: 1em;
  margin-top: 10px;
}

.detail-price {
    font-size: 0.9em;
    font-weight: 900;
    margin: 8px 0 13px 0;
}
.detail-status {
  font-size: 0.3em;
  color: rgb(138, 138, 139);
  background-color: rgb(235, 236, 237);
  text-align: center;
  padding: 3px 8px;
  box-sizing: border-box;
  border-radius: 5px;
}
.detail-heart {
  font-size: 0.5em;
  color: rgb(138, 138, 139);
  
}

.detail-info {
  font-weight: 400;
  font-size: 1em;

  /* border: 1px solid; */
  border-radius: 8px;

  /* height: 10%; */
  width: 320px;

  padding: 12px 12px;
  box-sizing: border-box;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 8%);

  display: grid;
  grid-template-columns: repeat(2, minmax(25%, auto));
  grid-template-rows: repeat(3, auto);
  justify-content: center;
  align-items: center;
}

.detail-writing {
    height: 170px;
    width: 320px;
    margin-top: 13px;
}
.detail-paragraph {
    height: 100%;
    overflow: auto;
    padding: 12px 12px;
    box-sizing: border-box;
    font-weight: 300;
    font-size: 0.9em;
}

.detail-join {
    background-color: #fff;
    height: 15%;
    display: grid;
    grid-template-areas:
        "title button"
        "members button";
    justify-content: stretch;
    position: absolute;
    bottom: 0;
    width: 360px;
    margin: 0 auto;
    box-shadow: rgb(0 0 0 / 12%) 0px -6px 6px -6px;
}

.detail-join-title {
  grid-area: title;
  font-size: 0.8em;
  padding-top: 10px;
    box-sizing: border-box;
}
.detail-join-members {
  grid-area: members;
  display: flex;
  justify-content: space-around;
}
.detail-join-button {
  grid-area: button;

  margin: auto 5% auto;

  width: 70%;
  height: 26%;

  border: 1px solid;
  border-radius: 7px;
  font-size: 13px;
    white-space: nowrap;
}
/* 수정/삭제 모달 */
.black-bg {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
}
.white-bg {
  width: 100%;
  height: 40%;
  margin: auto;
  border-radius: 10px;
  background: rgba(255, 255, 255, 1);
}
.close-button {
  border: none;
  background: #6667ab;
  color: white;
  font-weight: bold;
  border-radius: 10px;
}
.close-button:hover {
  color: white;
  transform: scale(1.1);
  transition: all 0.5s;
}
.detail-edit{
  justify-content: space-between;
  margin-top: 12px;
}

.ed-text{
  font-size: 0.82em;
  margin-left: 5px;
  color: #979595;
  cursor: pointer;
}

/* 수정 삭제 모달 */
.icon-edit {
  position: absolute;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' height='48' viewBox='0 96 960 960' width='48'%3E%3Cpath d='M120 816v-60h720v60H120Zm0-210v-60h720v60H120Zm0-210v-60h720v60H120Z'/%3E%3C/svg%3E");	position: absolute;
  background-repeat: no-repeat;
  background-size: contain;

  top: 18px;
  right: 19px;
  width: 24px;
  height: 24px;
}
.icon-edit2 {
  position: fixed;
  background-image: url("data:image/svg+xml,%3Csvg width='100' height='60' viewBox='0 0 100 60' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect width='100' height='60' rx='5' fill='white' fill-opacity='0.8'/%3E%3Cline x1='1.70253e-10' y1='29.75' x2='100' y2='29.75' stroke='black' stroke-opacity='0.5' stroke-width='0.5'/%3E%3C/svg%3E%0A");
  background-repeat: no-repeat;
  background-size: contain;

  top: 40px;
  right: 39px;

  width: 100px;
  height: 60px;

  font-weight: 400;
}
/* 수정 */
.icon-edit3{
  margin-top: 7px;
}
/* 삭제 */
.icon-edit4{
  margin-top: 10.5px;

}